{% extends 'base.html' %}

{% block content %}
<div class="post_list">
    
    {% for post in posts %}


				
					
					

    
    <div class="p">
        <time class="date">
            {{ post.published_date }}
        </time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.meta_description | linebreaksbr }}</p>
        <p
        > {{ post.likes_amount }} <img src="/static/icons/like-outline.svg" width=16/></p><p>{{ post.comments_amount }} کامنت </p>
    </div>
{% endfor %}
    
{% endblock %}
</div>