{% extends 'base.html' %}
{% load static %}
{% block content %}

        

<div class="post_list">
    <article class="post" style="width: 25em;">
        <aside class="actions">
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
               <img src="{% static 'icons/pencil-fill.svg' %}" alt="Edit" />
            </a>
        </aside>
        <div class="post_detail">
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
            <hr style="width: 50%;">
        {% endif %}
        <h2 class="post_title ppp">{{ post.title }}</h2>
        <hr style="width: 50%;">
        <p id="PostContent">{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}
</div>