static/admin/*.* linguist-detectable false
static/admin/*.js linguist-detectable false
static/admin/*.css linguist-detectable false
static/admin/*.* linguist-vendored
static/admin/*.js linguist-vendored
static/admin/*.css linguist-vendored
*.js linguist-detectable false
