asgiref
astroid
backports.zoneinfo
dill
dj-database-url
Django
django-on-heroku
isort==5.10.1
lazy-object-proxy
mccabe
platformdirs
psycopg2-binary
pylint
sqlparse
tomli
typing-extensions
whitenoise
wrapt
