{% extends 'blog/base.html' %}
{% block title %}بازنشانی رمز‌عبور{% endblock %}
{% block content %}
{% if error %}
    {{ error }}
{% endif %}
<div id="reset-password-div">
    <form id="reset-password-form" action = "{% url 'reset_password_confirm' uidb64=uidb64 token=token %}" method="post">
        {% csrf_token %}
        <input type="password" name="password1" placeholder="رمزعبور">
        <input type="password" name="password2" placeholder="تایید رمزعبور">
        <button class="btn border" type="submit">تایید</button>
    </form>
</div>
{% endblock %}