{% extends 'blog/base.html'  %}
{% block title %}بلاگ - {{ post.title }}{% endblock %}
{% load static %}
{% load markdown_extras %}
{% load writer_auth %}
{% block content %}
{% load js %}
<script>
  var post_id = "{{ post.pk|js }}";
  console.log(post_id);
</script>
<script src="{% static 'js/post_detail.js' %}"></script>
<div class="post_list">
    <article id="Post">
        {% if user|has_group:"Writers" %}
            <aside class="actions">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                   <img src="{% static 'icons/pencil.svg' %}" alt="Edit" id="edit_icon"/>
                </a>
            </aside>
        {% endif %}
        <div class="post_detail">
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
            <hr>
        {% endif %}
        <h2 class="post_title ppp">{{ post.title }}</h2>
        <hr>
        <div class="post-content">{{ post.text | markdown | safe }}</p>
        <hr>
        <div id="like-and-comments-amount">
            <div id="like"><p id="like-count">{{ post.likes_amount }}</p>
                {% if user.is_authenticated %}
                    {% if not user in post.liked_users %}
                        <img src="/static/icons/like-outline.svg" width=16 class="btn-default" id="add-like" alt="اضافه کردن لایک"/>
                    {% else %}
                        <img src="/static/icons/like-fill.svg" width=16 class="btn-default" id="remove-like" alt="حذف لایک"/>
                    {% endif %}
                {% else %}
                    <img src="/static/icons/like-outline.svg" width=16 class="btn-default" id="like-logo" alt="لوگوی لایک"/>
                {% endif %}
            </div>
            <p> {{ post.comments_amount }} کامنت</p>
        </div>
        {% if not user.is_authenticated %}
            <p> لطفا برای نظر دادن یا لایک کردن پست <a href="/accounts/login">وارد سایت شوید</a></p>
        <hr>
        {% else %}
        <div>
            <form action="{% url 'add_comment' %}" method="post" id="comment-form">
                <!-- csrf token -->
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="post_id" value="{{ post.pk }}">
                <textarea name="text" id="comment-text" cols="30" rows="10" placeholder="نظر خود را بنویسید"></textarea>
            </form>
            <input type="button" value="ثبت" class="btn-default" id="comment-send">
        </div>
        <hr/>
        {% endif %}
        <div class="comments">
            {% if comments %}
                <h3>کامنت ها</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <p class="comments-text"> {{ comment.user.username }} </p>
                        <p class="comments-text">{{ comment.text }}</p>
                        <time class="date comments-text">
                            {{ comment.created_date }}
                        </time>
                    </div>
                {% endfor %}
        </div>    
        {% endif %}
    </article>


{% endblock %}
</div>
